{# src/Core/AccountingBundle/Resources/views/Default/accounting.html.twig #}
{% extends 'CoreAccountingBundle::layout.html.twig' %}

{% block title %}Core Accounting System - Home{% endblock %}

{% block navigation %}

<li>
    <a href="#"><i class="fa fa-calculator fa-fw"></i> Transactions<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="{{ path('#') }}">Manual Journal Entries</a></li>
        <li><a href="{{ path('#') }}">Manual Journal Adjustments</a></li>
        <li><a href="{{ path('#') }}">Batch Journal Entries</a></li>
    </ul>
    <!-- /.nav-second-level -->
</li>

<li>
    <a href="#"><i class="fa fa-wrench fa-fw"></i> Tools<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="{{ path('#') }}">Period Open Processing</a></li>
        <li><a href="{{ path('#') }}">Period Close Processing</a></li>
        <li><a href="{{ path('#') }}">Post Journals by Period</a></li>
        <li><a href="{{ path('#') }}">Bank Reconciliation</a></li>
    </ul>
    <!-- /.nav-second-level -->
</li>

<li>
    <a href="#"><i class="fa fa-cog fa-fw"></i> Maintenance<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="{{ path('CoreAccountingBundle_maintenance_chartmaster_show') }}">Chart of Accounts</a></li>
        <li><a href="{{ path('#') }}">Periods</a></li>
        <li><a href="{{ path('#') }}">Budget</a></li>
        <li><a href="{{ path('#') }}">Tags</a></li>
        <li><a href="{{ path('#') }}">Import Transaction Definitions</a></li>
    </ul>
    <!-- /.nav-second-level -->
</li>

<li>
    <a href="#"><i class="fa fa-cog fa-fw"></i> Reports<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="{{ path('#') }}">Dashboard</a></li>
        <li><a href="{{ path('#') }}">Account Inquiry</a></li>
        <li><a href="{{ path('#') }}">Statement of Position</a></li>
        <li><a href="{{ path('#') }}">Statement of Income</a></li>
        <li><a href="{{ path('#') }}">Statement of Cash Flows</a></li>
    </ul>
    <!-- /.nav-second-level -->
</li>

{% endblock %}


{% block headtitle %}
Accounting Home
{% endblock %}


{% block body %}
<div class="row">
	<div class="col-lg-12">
    Welcome to the Home Page for the Core Finance system. You are at
    	<div class="well">{{ path('CoreAccountingBundle_accounting_home') }}</div>
    </div>
</div>
{% endblock %}