{# src/Core/AccountingBundle/Resources/views/Transactions/batchmenushow.html.twig #}
{% extends 'CoreAccountingBundle:Default:accounting.html.twig' %}

{% block title %}Accounting - Batch Journal Entries{% endblock %}

{% block navigation %}
    {{ parent() }}
{% endblock %}

{% block headtitle %}
Batch Journal Processing
{% endblock %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('returnMessage') %}
<div class="row">
	<div class="alert alert-info" role="alert">
        {{ flashMessage }}
    </div>
</div>
<!-- /.row -->
{% endfor %}


{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Batch Journal Processing Menu
			</div>
			<!-- /.panel-heading -->
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Financial Account Batch
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="row">
					<button type="button" class="btn btn-primary" data-toggle="modal" 
							data-target="#monthproc" data-whatever="@start">
						Month Start
					</button>
				</div>
				<div class="row">
					<button type="button" class="btn btn-primary" data-toggle="modal" 
							data-target="#monthproc" data-whatever="@end">
						Month End
					</button>
				</div>
				<div class="row">
					<button type="button" class="btn btn-primary" data-toggle="modal" 
							data-target="#batchfile" data-whatever="@batch">
						Batch File
					</button>
				</div>
			</div>
			<!-- /.panel-body for top section -->
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Investment Account Batch
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="row">
					<button type="button" class="btn btn-primary" data-toggle="modal" 
							data-target="#monthstart" data-whatever="@start">
						Investment Batch
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->


<div class="modal fade" id="monthproc" tabindex="-1" role="dialog" aria-labelledby="monthprocLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="monthprocLabel">New Batch</h4>
			</div>
			{{ form_start(form, {'attr': {'class': 'form-inline', 'id': 'eventForm'}}) }}
			<div class="modal-body">
				<div class="form-group">
					{{ form_label(form.dateperiod, 'Select Month / Year', {'label_attr': {'class': 'col-xs-3 control-label'}}) }}
			        <div class="col-xs-5 date">
			            <div class="input-group input-append date" id="datePicker">
							{{ form_errors(form.dateperiod) }}
							{{ form_widget(form.dateperiod, {'attr': {'class': 'form-control'}}) }}
			                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
			            </div>
			        </div>
				</div>
			</div>
			<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <div class="form-group">
					{{ form_widget(form.Confirm, {'attr': {'class': 'btn btn-default'}}) }}
				</div>
			</div>
			<div style="display: none;">{{ form_end(form) }}</div>
		</div>
	</div>
</div>

{% endblock %}


{% block javascripts %}

{{ parent() }}

<script>
$('#monthproc').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})


$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'yyyy-mm-dd',
    		minViewMode: "months"
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#eventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    }
                }
            },
            date: {
                validators: {
                    notEmpty: {
                        message: 'The date is required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not a valid'
                    }
                }
            }
        }
    });
});
</script>





{% endblock %}