{# src/Core/AccountingBundle/Resources/views/Maintenance/gltransjournalcollection.html.twig #}

	<td>
		{{ form_widget(form.counterindex) }}
	</td>
	<td>
		{{ form_widget(form.accountcode) }}
	</td>
	<td>
		{{ form_widget(form.debit) }}
	</td>
	<td>
		{{ form_widget(form.credit) }}
	</td>
	<td>
		{{ form_widget(form.narrative) }}
	</td>