{# src/Core/AccountingBundle/Resources/views/Maintenance/gltransjournalcollection.html.twig #}
<tr>
	<td>
		{{ form_row(form.counterindex) }}
	</td>
	<td>
		{{ form_row(form.accountcode) }}
	</td>
	<td>
		{{ form_row(form.debit) }}
	</td>
	<td>
		{{ form_row(form.credit) }}
	</td>
	<td>
		{{ form_row(form.narrative) }}
	</td>
</tr>