{# src/Core/AccountingBundle/Resources/views/Maintenance/budgetedit.html.twig #}
{% extends 'CoreAccountingBundle:Default:accounting.html.twig' %}

{% block title %}Accounting - Budget{% endblock %}

{% block navigation %}
    {{ parent() }}
{% endblock %}

{% block headtitle %}
Edit Chart of Accounts
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">Last Financial Year</div>
			<div class="panel-heading">Year ended - {{ prioryear.11.period }}</div>
			<div class="panel panel-footer"></div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">Current Financial Year</div>
			<div class="panel-heading">Year ending - {{ curryear.11.period }}</div>
			<div class="panel panel-footer"></div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">Next Financial Year</div>
			<div class="panel-heading">Year ending - {{ nextyear.11.period }}</div>
			<div class="panel panel-footer"></div>
		</div>
	</div>
</div>
<div class="row">	
	{# first column #}
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-body">
            	<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead><tr>
							<th>Period</th>
							<th>Actual</th>
							<th>Budget</th>
						</tr></thead>
						<tbody>
							{% for row in prioryear %}
						    <tr>
						    	<td>{{ row.period }}</td>
						    	<td>{{ row.actual }}</td>
						    	<td>
						    		{{ row.budget }} 
						    		<a href="#">
						    			<i class="fa fa-pencil-square-o"></i>
						    		</a>
						    	</td>
							</tr>
						    {% else %}
						        <p>There are no budgets within the account</p>
						    {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	{# second column #}
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-body">
            	<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead><tr>
							<th>Period</th>
							<th>Actual</th>
							<th>Budget</th>
						</tr></thead>
						<tbody>
							{% for row in curryear %}
						    <tr>
						    	<td>{{ row.period }}</td>
						    	<td>{{ row.actual }}</td>
						    	<td>
						    		{{ row.budget }} 
						    		<a href="#">
						    			<i class="fa fa-pencil-square-o"></i>
						    		</a>
						    	</td>
							</tr>
						    {% else %}
						        <p>There are no budgets within the account</p>
						    {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	{# second column #}
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-body">
            	<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead><tr>
							<th>Period</th>
							<th>Actual</th>
							<th>Budget</th>
						</tr></thead>
						<tbody>
							{% for row in nextyear %}
						    <tr>
						    	<td>{{ row.period }}</td>
						    	<td>{{ row.actual }}</td>
						    	<td>
						    		{{ row.budget }} 
						    		<a href="#">
						    			<i class="fa fa-pencil-square-o"></i>
						    		</a>
						    	</td>
							</tr>
						    {% else %}
						        <p>There are no budgets within the account</p>
						    {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

{% endblock %}